.procode-file-menu {
    min-width: 15rem !important;
}

#procode-chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

#procode-chat-container > .ui.menu {
    border-bottom: none;
}

#procode-chat-messages {
    flex-grow: 1;
    overflow-y: auto;
}

#procode-chat-messages pre {
    overflow-x: auto;
}

.procode-user-message {
    margin-left: auto !important;
    margin-right: 1em !important;
    margin-top: 1em !important;
    max-width: 66%;
    overflow-wrap: break-word;
    width: fit-content;
}

#procode-chat-input-container {
    margin-top: 0;
}

#procode-status-line:empty {
    display: none;
}

.procode-hidden, .procode-style-hidden {
    display: none !important;
}

@media (display-mode: standalone) {
    .procode-standalone-hidden {
        display: none !important;
    }
}
